demo/Brightness_Data_Set_Demo_Flow.json
[{"id":"6c937385.23b09","type":"Brightness data set","z":"16bf81c1.32b3f2","name":"","x":590,"y":380,"wires":[["3f2dc9c8.d51b02"]]},{"id":"3f2dc9c8.d51b02","type":"debug","z":"16bf81c1.32b3f2","name":"","active":true,"console":"false","complete":"payload","x":810,"y":380,"wires":[]},{"id":"3c441d6f.36afde","type":"inject","z":"16bf81c1.32b3f2","name":"AutoBrightness","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":360,"y":360,"wires":[["6c937385.23b09"]]},{"id":"79337098.1d5b1","type":"inject","z":"16bf81c1.32b3f2","name":"SetValue","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"x":340,"y":400,"wires":[["6c937385.23b09"]]}]