demo/Brightness_Data_Get_Demo_Flow.json
[{"id":"99128892.aaed08","type":"inject","z":"16bf81c1.32b3f2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":240,"wires":[["e551e6f7.74529"]]},{"id":"e551e6f7.74529","type":"function","z":"16bf81c1.32b3f2","name":"SetBrightnessOutput","func":"msg.payload = {\n    Min: true,\n    Max: true,\n    Value: true,\n    Auto: true\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["bd8fb16.a536bd"]]},{"id":"bd8fb16.a536bd","type":"Brightness data get","z":"16bf81c1.32b3f2","name":"","x":610,"y":240,"wires":[["feb573f8.aef188"]]},{"id":"feb573f8.aef188","type":"debug","z":"16bf81c1.32b3f2","name":"","active":true,"console":"false","complete":"payload","x":830,"y":240,"wires":[]}]